@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09082F;
}

/* squares */
#squares{
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* each square */
.square{
    box-shadow: 0px 0px 12px 0px #5F25A1;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: #07072B;
    cursor: pointer;
}

/* result */
#message{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: #00000056;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    word-spacing: 10px;
    letter-spacing: 5px;
    flex-direction: column;
}

/* box with the result */
.box{
    background: #07072b89;
    box-shadow: -1px 6px 32px 0 #1e1eb689;
    backdrop-filter: blur( 0px );
    border-radius: 10px;
    text-align: center;
    height: 50vh;
    width: 50vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem

}

/* box img */
.box img {
    height: 200px;
    width: 200px;
}

/* images */
img{
    height: 100px;
    width: 100px;
}

/* restart game */
#reset{
    margin-top: 30px;
    height: 80px;
    width: 80px;
}

/* restart game over */
#reset:hover{
    cursor: pointer;
}